:root {
  --red: #E63946;
  --light: #F1FAEE;
  --aqua: #A8DADC;
  --lightBlue: #457B9D;
  --darkBlue: #1D3557;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  min-width: 100px;
  max-width: 320px;
}